@model IEnumerable<AAAService.Models.Bid_Requests_View>

@using GridMvc.Html
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.customwidgets.js")"></script>
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<script src="/Scripts/bootstrap-datepicker.js"></script>
<link href="/Content/gridmvc.datepicker.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>Admin Bid Requests Board</h2>

@if (User.IsInRole("CorpAdmin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@*<hr />*@

<div style="width:auto">
    @Html.Grid(Model).Named("BidRequestBoard").Columns(columns =>
    {
    columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.guid }));
    columns.Add().Titled("Details").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Details", "Details", new { id = c.guid }));
    columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Delete", "Delete", new { id = c.guid }));

    /* Adding "Company" column: */
    columns.Add(o => o.Parent_Location_Name)
            .Filterable(true)
            .Titled("Company");

    /* Adding "Job#" column: */
    columns.Add(o => o.bid_num)
                .Titled("Bid Request #")
                .Filterable(true)
                .SetWidth(100);

    /* Adding "Date Requested" column: */
    columns.Add(o => o.order_datetime)
            .Titled("Date Requested")
            .Format("{0:MM/dd/yyyy}")
            //.RenderValueAs(o => string.Format("{0:MM/dd/yyyy}", o.Order_Date))
            .Filterable(true)
            .Sortable(true)
            .SetWidth(80);

    /* Adding "Location" column: */
    columns.Add(o => o.Service_Location_Name)
            .Filterable(true)
            .Titled("Service Location");

    /* Adding "Request Summary" column: */
    columns.Add(o => o.problem_summary)
            .Titled("Request Summary")
            .SetWidth(250);

    /* Adding "Status" column: */
    columns.Add(o => o.StatusName)
            .Titled("Status")
            .Sortable(true)
            .Filterable(true)
            .SetFilterWidgetType("CustomStatusFilterWidget")
            .SetWidth(125);

}).WithPaging(20).Sortable().Filterable().WithMultipleFilters()
</div>

<script>
    $(document).ready(function() {
        pageGrids.BidRequestBoard.addFilterWidget(new StatusesFilterWidget());
        $("#BidRequestBoard").datepicker();
    });
</script>