@*@model AAAService.Models.ApplicationUser*@
@model Tuple<AAAService.Models.ApplicationUser, IEnumerable<AAAService.Models.locationinfo>>
@using GridMvc.Html
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.customwidgets.js")"></script>

@{
    ViewBag.Title = "Details";
}

<h2>Details.</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.lname)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Item1.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item1.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item1.title)
        </dd>

        @*@if (ViewBag.PhoneNumbers.Count() == 0)
        {
            <hr />
            <p>No phone numbers found for this user.</p>
        }
        else
        {
            foreach (var item in ViewBag.PhoneNumbers)
            {
                <dt>
                    @Html.Display("Business Phone Number")
                </dt>
                <dd>
                    @item.phone_day)
                </dd>
                <dt>
                    @Html.Display("After Hours Phone Number")
                </dt>
                <dd>
                    @@item.phone_night)
                </dd>
            }
        }*@

        <dt>
            @Html.DisplayNameFor(model => model.Item1.account_status)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Item1.account_status))*@
            @if (Model.Item1.account_status == 1)
            {
                @("Active")
            }
            else
            {
                @("Inactive")
            }            
        </dd>
    </dl>
</div>

<h4>List of users for this location</h4>

<div style="width:auto">
    @helper CustomRenderingOfColumn(AAAService.Models.locationinfo model)
    {
        if (model.active)
        {
                <text>Active</text>
        }
        else
        {
                <text>Inactive</text>
        }
    }

    @Html.Grid(Model.Item2).Named("LocationsPerUser").Columns(columns =>
    {
        columns.Add(o => o.name)
                .Sortable(true)
                .Filterable(true)
                .Titled("Name");

        columns.Add(o => o.addressline1)
                .Sortable(true)
                .Filterable(true)
                .Titled("Address 1");

        columns.Add(o => o.addressline2)
                .Sortable(true)
                .Filterable(true)
                .Titled("Address 2");

        columns.Add(o => o.city)
                .Sortable(true)
                .Filterable(true)
                .Titled("City");

        columns.Add(o => o.state)
                .Sortable(true)
                .Filterable(true)
                .Titled("State");

        columns.Add(o => o.zip)
                .Sortable(true)
                .Filterable(true)
                .Titled("Zip");

        columns.Add(o => o.active)
                .Titled("Status")
                .Sortable(true)
                .Filterable(true)
                .RenderValueAs(model => CustomRenderingOfColumn(model))
                .SetFilterWidgetType("CustomUserStatusFilterWidget");

    }).Sortable().Filterable().WithMultipleFilters()
</div>

<h4>List of roles for this user</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    $(document).ready(function(){
        pageGrids.LocationsPerUser.addFilterWidget(new UserStatusesFilterWidget());
    });
</script>