@model AAAService.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit.</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit User Information</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.fname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.fname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fname)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.lname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.lname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lname)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Service Location", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-5">
                        <select name="from[]" id="search" class="form-control" size="10" multiple="multiple">
                            @foreach (var company in ViewBag.Companies)
                            {
                                <optgroup label="@company.name">

                                @foreach (var location in ViewBag.Locations)
                                {
                                    if (location.parentguid == company.guid)
                                    {
                                        <option value="@location.guid">@location.name</option>
                                    }
                                }

                                </optgroup>
                            }
                        </select>
                    </div>

                    <div class="col-xs-2">
                        <br />
                        <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                        <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                        <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                    </div>

                    <div class="col-xs-5">
                        <select name="to[]" id="search_to" class="form-control" size="10" multiple="multiple">
                            @foreach (var userCompany in ViewBag.UserCompanies)
                            {
                                <optgroup label="@userCompany.Name">

                                @foreach (var userLocation in ViewBag.UserLocations)
                                {
                                    if (userLocation.ParentGUID == userCompany.GUID)
                                    {
                                        <option value="@userLocation.GUID">@userLocation.Name</option>
                                    }
                                }

                                </optgroup>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Roles", new { @class = "control-label col-md-2" })
            <span class="col-md-10">
                @foreach (var item in Model.RolesList)
                {
                    <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                    @Html.Label(item.Value, new { @class = "control-label" })
                }
            </span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<script type="text/javascript" src="/Scripts/multiselect.min.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#search').multiselect({
        search: {
            left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
        }
    });
});
</script>