@*@model AAAService.Models.service_tickets*@
@model AAAService.Models.TupleAlternative

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

@{
    ViewBag.Title = "Edit";
}

<h3>Edit AAA Service Request: @ViewBag.TicketNumber   Created by @ViewBag.CreatedBy</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Administrator Edit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.service_location_guid, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationDD", null, null, htmlAttributes: new { @class = "form-control", @onchange = "javascript:SetServiceLocation(this.value)" })
                @Html.ValidationMessageFor(model => model.ServiceTickets.service_location_guid, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="Addressline1" class="form-group" @(Model.LocationInfo.addressline1 == null ? "style=display:none" : "")>
            @Html.LabelFor(model => model.LocationInfo.addressline1, "Address 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocationInfo.addressline1, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div id="Addressline2" class="form-group" @(Model.LocationInfo.addressline1 == null ? "style=display:none" : "")>
            @Html.LabelFor(model => model.LocationInfo.addressline2, "Address 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocationInfo.addressline2, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div id="City" class="form-group" @(Model.LocationInfo.addressline1 == null ? "style=display:none" : "")>
            @Html.LabelFor(model => model.LocationInfo.city, "City", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocationInfo.city, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div id="Zip" class="form-group" @(Model.LocationInfo.addressline1 == null ? "style=display:none" : "")>
            @Html.LabelFor(model => model.LocationInfo.zip, "Zip", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LocationInfo.zip, new { @class = "form-control", @readonly = true })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.StatusID, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusID", null, htmlAttributes: new { @id = "StatusID", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServiceTickets.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.accepted_datetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.accepted_datetime, new { htmlAttributes = new { @class = "form-control",
               @onclick = "javascript:SetStatus(1);" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.accepted_datetime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.dispatch_datetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.dispatch_datetime, new { htmlAttributes = new { @class = "form-control",
               @onclick = "javascript:SetStatus(6);" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.dispatch_datetime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.complete_datetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.complete_datetime, new { htmlAttributes = new { @class = "form-control",
               @onclick = "javascript:SetStatus(5);" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.complete_datetime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.service_provider, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.service_provider, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.service_provider, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="monikersam" style = "display:none";>
            <div class="form-group">
                @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("mStatusName", htmlAttributes: new {@value = ViewBag.StatusName, @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                @Html.Label("Location", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextArea("mLocationName", htmlAttributes: new {@Value = ViewBag.LocationName, @class = "form-control" })

                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.cost_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.cost_code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.cost_code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.cust_po_num, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.cust_po_num, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.cust_po_num, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.total_billing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.total_billing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.total_billing, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.location_contact_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.location_contact_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.location_contact_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.location_contact_phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.location_contact_phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.location_contact_phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.location_contact_phone_night, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.location_contact_phone_night, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.location_contact_phone_night, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.PriorityStatus, "Priority Level", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.PriorityStatus, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"} })
                @Html.ValidationMessageFor(model => model.ServiceTickets.PriorityStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.ServiceCategory, "Service Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.ServiceCategory, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.ServiceCategory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.problem_summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.problem_summary, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.problem_summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.problem_details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ServiceTickets.problem_details, htmlAttributes: new { @class = "form-control", @rows = "7", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ServiceTickets.problem_details, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Add Details", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("ProbSum", htmlAttributes: new { @class = "form-control", @rows = "3" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ServiceTickets.notes, htmlAttributes: new { @class = "form-control", @rows = "7", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ServiceTickets.notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Add Note", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("ResNotes", htmlAttributes: new { @class = "form-control", @rows = "3" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.closed_datetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTickets.closed_datetime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceTickets.closed_datetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ServiceTickets.active)
                    @Html.ValidationMessageFor(model => model.ServiceTickets.active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTickets.internal_notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ServiceTickets.internal_notes, htmlAttributes: new { @class = "form-control", @rows = "7"})
                @Html.ValidationMessageFor(model => model.ServiceTickets.internal_notes, "", new { @class = "text-danger" })
            </div>
        </div>

        
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
        <h3>Uploaded Files</h3>
        <table class="table">
            <tr>
                <th>
                    File Name
                </th>
                <th>
                    Date Uploaded
                </th>
                <th>
                    File Size
                </th>
                <th>
                </th>
            </tr>
            @if (ViewBag.FileList != null)
            {
                foreach (var myfile in ViewBag.FileList)

                {
                    <tr>
                        <td>@myfile.file_name</td>
                        <td>@myfile.date_in.ToString()</td>
                        <td>@myfile.file_size.ToString()</td>
                        <td>
                            @Html.ActionLink("Download", "Download", new { id = @myfile.guid })

                        </td>
                    </tr>

                }
            }




        </table>
}

@using (Html.BeginForm("Upload", "AdminTickets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Upload new File</legend>
        <div class="editor-field">
            @Html.TextBox("file", "", new { type = "file" })
        </div>
        <div class="editor-field">
            <input type="submit" value="Upload" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#ServiceTickets_accepted_datetime').datetimepicker({
                defaultDate: '@Model.ServiceTickets.accepted_datetime',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
            $('#ServiceTickets_dispatch_datetime').datetimepicker({
                defaultDate: '@Model.ServiceTickets.dispatch_datetime',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                
            });
            $('#ServiceTickets_complete_datetime').datetimepicker({
                defaultDate: '@Model.ServiceTickets.complete_datetime',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
               
            });
            $('#ServiceTickets_closed_datetime').datetimepicker({
                defaultDate: '@Model.ServiceTickets.closed_datetime',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
            });
        });
    </script>
}
<script>
$(document).ready(
  function() {
  $("#monikersam").hide();
  $("#StatusID").change(function () {
      $(this).find("option:selected");
      var newText = $("#StatusID option:selected").text();
      $('#mStatusName').text(newText);
      $("#monikersam").hide();
  })
  });
$(document).ready(
function () {
    $("#monikersam").hide();
    $("#LocationDD").change(function () {
        $(this).find("option:selected");
        var newText = $("#LocationDD option:selected").text();
        $('#mLocationName').text(newText);
        $("#monikersam").hide();
    })
});

function SetStatus(_statusID) {
    $("#StatusID").val(_statusID);
    var newText = $("#StatusID option:selected").text();
    $('#mStatusName').text(newText);
}

function SetServiceLocation(_locationGUID) {
    var url = "/AdminTickets/SetServiceLocation/";

    $.ajax({
        url: url,
        data: { locationGUID: _locationGUID },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data != "") {
                $("#Addressline1").show();
                $("#LocationInfo_addressline1").val(data.addressline1);
                $("#Addressline2").show();
                $("#LocationInfo_addressline2").val(data.addressline2);
                $("#City").show();
                $("#LocationInfo_city").val(data.city);
                $("#Zip").show();
                $("#LocationInfo_zip").val(data.zip);
            }
            else {
                $("#Addressline1").hide();
                $("#Addressline2").hide();
                $("#City").hide();
                $("#Zip").hide();
            }
        },
        error: function (reponse) {
            alert("error : " + reponse);
        }
    });
}
</script>