@*@model Tuple<AAAService.Models.ReportBuilderModel.ReportInformation, IEnumerable<AAAService.Models.ReportBuilderModel.Companies>, IEnumerable<AAAService.Models.ReportBuilderModel.Locations>, IEnumerable<AAAService.Models.ReportBuilderModel.ReportBuilderFields>>*@
@model AAAService.Models.ReportBuilderModel.ReportInformation

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Report Builder</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ReportName, "Report Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReportName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Item1.ReportName, "Report Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.ReportName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="col-xs-5">
            <select name="companies[]" id="search_companies" class="form-control" size="10" multiple="multiple">
                @foreach (var company in Model.Item2)
                {
                    <option value="@company.GUID">@company.Name</option>
                }
            </select>
        </div>

        <div class="col-xs-2">
        </div>

        <div class="col-xs-5">
            <select name="locations[]" id="search_locations" class="form-control" size="10" multiple="multiple">
                @foreach (var location in Model.Item3)
            {
                    <option value="@location.GUID">@location.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.From, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.From, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @onclick = "javascript:SetStatus(1);"
                    }
                })

                @Html.ValidationMessageFor(model => model.Item1.From, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.To, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.To, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @onclick = "javascript:SetStatus(1);"
                    }
                })

                @Html.ValidationMessageFor(model => model.Item1.To, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Please Choose Which Fields You'd Like</h4>

        <div class="col-xs-5">
            <select name="from[]" id="search" class="form-control" size="10" multiple="multiple">
                @foreach (var reportBuilderFuilds in Model.Item4)
                {
                    <option value="@reportBuilderFuilds.Id">@reportBuilderFuilds.Name</option>
                }
            </select>
        </div>

        <div class="col-xs-2">
            <br />
            <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        </div>

        <div class="col-xs-5">
            <select name="to[]" id="search_to" class="form-control" size="10" multiple="multiple">
                <option value=""></option>
            </select>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Run Report" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
<script type="text/javascript" src="/Scripts/multiselect.min.js"></script>

@*@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#Item1_From').datetimepicker({
                defaultDate: '@Model.Item1.From',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });

            $('#Item1_To').datetimepicker({
                defaultDate: '@Model.Item1.To',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
            });
        });
    </script>
}*@

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('#search').multiselect({
        keepRenderingSort: true,
        search: {
            left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
        }
    });
});

function SetStatus(_statusID) {
    $("#StatusID").val(_statusID);
}
</script>